
#About{
    height:150vh !important;
    flex-direction: column !important;

}
#About h1{
    margin-right:1em !important;
    font-size: 4em !important;
}
#About p{
    width: 80vw !important;

    height:300px !important;

    margin-right: 5em !important;

    font-size: 1.2em !important;
}

.tagcloud{
    font-size: 15px !important;
    letter-spacing: 0.5px !important;
}

